* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}

.banner {
  display: flex;
  justify-content: center;

  background-image: url("./assets/images/banner.png"),
    linear-gradient(#000 0%, #013e58 60%, #000 100%);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  border-bottom: 1px solid #33a8db;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  margin: 5rem 0;
}

.banner-content h1 {
  font-weight: 900;
  font-size: 4rem;
  line-height: 100%;
  color: transparent;
  background: -webkit-linear-gradient(#33a8db, #1472b7);
  -webkit-background-clip: text;
  text-transform: uppercase;
}

.banner-content p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 100%;
  text-align: center;
  width: 60%;
  word-break: keep-all;
}

.banner-content button {
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 100%;
  letter-spacing: 0.25rem;
  color: #31a8dd;
  border-radius: 0.8rem;
  padding: 1.9rem 3.1rem;
  border-image-source: linear-gradient(#3ba1cd, #1572b7);
  border-image-slice: 20;
  border-image-width: 0.2rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.logo {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 2rem;
  margin-bottom: 1rem;
}

main {
  background-color: #000;
  color: #fff;
}

#course-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  padding: 7rem 0 12rem;
  border-bottom: 1px solid #33a8db;
}

#course-content h2 {
  font-weight: 700;
  font-size: 3.2rem;
  color: #33a8db;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  line-height: 100%;
}

#course-content p {
  text-align: center;
  width: 52%;
  word-break: keep-all;
  font-weight: 400;
  font-size: 1.6rem;
}

.modules-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.module {
  background-color: #252525;
  text-align: center;
  padding: 1.6rem 10rem;
  border-radius: 5.7rem;
  border: 1px solid #33a8db;
  font-weight: 400;
  font-size: 1.8rem;
}

.module span {
  color: #33a8db;
}

#transform-world {
  height: 50rem;
  background-image: url(./assets/images/woman-code.png);
  background-size: cover;
  padding: 20rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-bottom: 1px solid #33a8db;
}

#transform-world p {
  font-weight: 900;
  font-size: 4rem;
  text-shadow: 2px 2px 1px #33a8db;
  width: 30rem;
  text-align: left;
  word-break: keep-all;
}

#professional-challenges {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0 12rem;
  gap: 4rem;
  border-bottom: 1px solid #33a8db;
}

#professional-challenges h2 {
  font-weight: 700;
  color: #33a8db;
  font-size: 3.2rem;
  line-height: 100%;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  word-break: keep-all;
  width: 60%;
  text-align: center;
}

#professional-challenges p {
  font-weight: 400;
  font-size: 1.6rem;
  width: 52%;
  text-align: center;
  word-break: keep-all;
  line-height: 100%;
}

footer {
  background-image: linear-gradient(#000, #01354c);
  text-align: center;
  height: 20rem;
  color: #fff;
  padding: 6rem 0;
}
